<html>
    <body>
        <h1>Add a comment</h1>
        <form action="#" method="post">
        <div class="form-group">
            <label for="comment">comment:</label>
            <input type="text" maxlength="100" name="comment" placeholder="comment">

            

            <label for="commenter_id">Commenter Id:</label>
            <input maxlength="100" name="commenter_id" placeholder="commenter_id/student_id">
            <label for="commenter_username">Name:</label>
            <input maxlength="100" name="commenter_username" placeholder="commenter_username">

            <label for="project_name">Project Name:</label>
            <input maxlength="100" name="project_name" placeholder="project_name">
            
            <button type="submit">Create</button>
        </div>
        </form>
    </body>
</html>