<html>
    <body>
        <h1>Students</h1>
        <a href="{{url_for('students.newStudent')}}">
            <button>Add Student</button>
        </a>
        <ol>
            {% for student in student %}
            <li>{{student.student_id}} : {{student.fname}} {{student.lname}} / Subject: {{student.subject}}</li>
            <a href="{{url_for('students.editStudent', student_id = student.id )}}">
                Edit
            </a>
            <a href="{{url_for('students.deleteStudent', student_id = student.id )}}" style="margin-left: 10px;">
                Delete
            </a>
            <br> <br>
            {% endfor %}
        </ol>
    </body>
</html>